/magazin/target/
/Store/nbproject/
/Store/target/
/forme_geometrice/target/
/PluginsApp/AppPlugins/RectanglePlugin/target/
/PluginsApp/AppPlugins/RhombPlugin/target/
/PluginsApp/AppPlugins/TrianglePlugin/target/